* {
    margin: 0 auto;
}

body {
    width: 50%;
}

.headWeather {
    display: flex;
    border-radius: 40%;
    border: 1px coral solid;
    justify-content: center;
    background-color: darkgrey;
}

.divInput {
    display: flex;
    justify-items: center;

}

.divInput input {
    width: 80%;
}

#mainOutput {
}

.mainDiv {
    display: flex;
    border: 1px black solid;
    border-radius: 5%;
    margin-top: 2%;
    background-color: bisque;

}


.divTemp {
    display: flex;
    flex-direction: column;
}

.divBtns {
    display: flex;
}

.divBtns button {
    width: min-content;
}

.mainDiv div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.mainDiv p {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.helpDivTemp {
    display: flex;
    flex-direction: column;
}