* {
    margin: 0 auto;
}

body {
    font-family: fantasy;
    font-style: normal;
    font-size: xx-large;
    width: 80%;
    height: 60%;
    background-image: url("img/bodyBackground.jpg");
}

header {
    display: flex;
    height: 100%;
}

#mainInput {
    width: 50%;
    margin: 50px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #4c783c;
    outline: none;
}

#mainInput:focus {
    transition: transform 1s;
    transform: rotate(1turn);
    outline: 0;
    outline-offset: 0;
}

.btnInput {
    font-size: x-large;
    font-family: fantasy;
    width: min-content;
    height: min-content;
    border: none;
    outline: none;
    padding: 0;
    border-radius: 30%;
    background-color: #00286a5c;
    opacity: 0.85;
    justify-content: center;
    align-items: center;
    margin: 0 1%;
}

#btnSearch {
    background-color: #00286a5c;
}

.headWeather {
    display: flex;
    border-radius: 40%;
    border: 1px coral solid;
    justify-content: center;
    background-color: darkgrey;
}

.divInput {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;

}

.divInput input {
    width: 100%;
}

#mainOutput {
    width: 80%;
    height: 65%;
    display: flex;
    flex-direction: column;
    background-image: url("img/background.jpg");
    background-size: cover;
    justify-content: flex-end;
}

.timeAndCity {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    flex-wrap: wrap;
}

#clientTime {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hour {
    color: #870000;
    width: 150px;
}

.month {
    color: #2b1097;
}

#city {
    color: #2311b5a8;
}

#country {
    color: #000000;
}

#weather {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 40%;
    width: 100%;
    background-color: #6b4beb;
    margin-top: 40%;
    opacity: 0.7;
}

#todayWeather {
    display: flex;
    width: 220px;
}

#todayWeather > img {
    height: initial;
}

#todayWeather > :nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#futureWeather {
    display: flex;
    flex-wrap: wrap;

}

.helpDivTemp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}